.dialog{
	padding: 10px 10px 10px 10px;
	box-shadow: 1px 1px 1px black, -1px -1px 1px black;
	margin: 10px 0px;
	cursor: pointer;
	transition: .2s linear;
	position: relative;
	width: 180px;
	height: 50px;
	display: flex;
	align-items: center;
	font-family: Roboto;
	transform: scale(1);
	background: rgb(75,65,227);
	background: linear-gradient(180deg, rgba(75,65,227,.2) 0%, rgba(65,60,209,.2) 35%, rgba(51,42,177,.2) 60%, rgba(58,57,138,.2) 100%);

}
.friendsDialog a{
	text-decoration: none;
	color: #000;


}
.friendsDialog a.active .dialog{
	background: rgb(75,65,227);
	background: linear-gradient(180deg, rgba(75,65,227,1) 0%, rgba(65,60,209,1) 35%, rgba(51,42,177,1) 60%, rgba(58,57,138,1) 100%);
	color: #fff;
	text-shadow: 1px 1px 3px white;
}
.nameFriend{
	position: relative;
	left: 10px;

}
.friendsDialog a:hover .dialog{
	transform: scale(1.1);
}

.imgFriend img{
	width: 50px;
	height: 50px;
}
.mainDialog{

	height: 100%;
	width: 100%;
}